.shopbrands img{
    height: 50%;
    width: 70%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 75px;
    box-shadow: -5px 5px 50px rgb(78, 78, 78);
}

main{
    width: 100%;
    position: relative;
}

.shopbrands{
    width: 90%;
    margin: 0 auto;
}

#information{
    background-color: #f2f2f2ce;
    border-radius: 50px;
    border: 2px solid black;
    text-align: center;
    width: 60%;
    margin: 5rem auto 3rem auto;
}

#audi-header{
    width: max-content;
    scale: 90%;
}

#information{
    padding: 2rem;
}

#brands-nav{
    margin-top: 4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

#brands-nav a{
    font-weight: bold;
    text-decoration:overline;
    text-decoration-color: #639CBF;
    font-size: 1.75rem;
    color: #595959;
    margin: 0 0 1rem 0;
    font-variant: small-caps ;
}

#brands-nav a:hover{
    color: #639CBF;
}


.item-desc{
    width: 70% !important;
    margin: 0 auto;
    background-color: rgba(210, 210, 210, 0.808);
    border: 1px solid darkgray;
    padding: 1rem;
    margin: 3rem auto 4rem auto;
}

.item-desc th{
    text-align: left;
    font-weight: bold;
}

.item-desc td{
    text-align: left;
}

.shopbrands{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    background-color: white;
    padding: 2rem;
    margin-bottom: 10rem;
    background-color: #f2f2f2ce;
    border-radius: 50px;
    border: 3px solid black;
}

h2{
    margin: 2rem auto 4rem auto;
}

#car-shop section div > div{
    width: 50%;
    margin: 2rem auto 4rem auto;
    text-align: center;
}

.brand-header{
    text-align: center;
    background-color: #639CBF;
    border-radius: 100px;
    margin-bottom: 1rem;
    width: 40%;
    margin: 1rem auto;
    border: 2px solid black;
    padding: .5rem;

}
.brand-header > img{
    height: 100px;
    width: 100px;
}

#to-top{
    position: fixed;
    bottom: -1px;
    left: calc(50% - 2px - 2rem - 1rem);
    margin: 0 auto;
    background-color: white;
    width: 4rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



#to-top a{
    text-decoration: none;
    color: black;
}

#to-top:hover{
    background-color: #639cbf;
}

#car-shop{
    width: 100%;
    margin: 0;
}

 /* tablet */

 @media only screen and (max-width : 1500px){
    #brands-nav{
        margin-top: 4rem;
        margin-bottom: 1rem;
        display: flex;
        flex-flow: column wrap;
    }
    
    #brands-nav a{
        display: block;
        width: 50%;
        font-size: 1.75rem;
        margin: 0 0 1rem 0;
        text-decoration:none;
        background-color: #639CBF;
        border: 1px solid gray;
        color: black;
        margin: .5rem auto;
    }

    #car-shop section div > div{
        width: 100%;
    }

    .shopbrands img{
        width: 75%;
        height: auto;
        object-fit: fill;
        border: 1px solid black;
        border-radius:75px;
        box-shadow: -5px 5px 50px rgb(78, 78, 78);
    }

    #audi-header{
        height: auto;
        width: 100%;
    }    
 }

 /* telefoon */
 @media only screen and (max-width : 700px){

    #brands-nav a{
        width: 100%;
    }
    
    .shopbrands img{
        width: 95%;
    }

    .shopbrands{
        width: auto;
        margin: 0 10px;
    }
 }