.shopbrands img{
    /* height: 400px;
    width: 650px; */
    height: 60%;
    width: 70%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 8px;
}

main{
    width: 100%;
    /* margin: 5rem auto; */
    position: relative;
}

.shopbrands{
    width: 90%;
    margin: 0 auto;
}

#information{
    background-color: #f2f2f2ce;
    border-radius: 50px;
    border: 2px solid black;
    text-align: center;
    width: 60%;
    margin: 5rem auto 3rem auto;
}

#audi-header{
    width: max-content;
    scale: 90%;
}

#information{
    padding: 2rem;
}

#brands-nav{
    margin-top: 4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

#brands-nav a{
    font-weight: bold;
    text-decoration:overline;
    text-decoration-color: #639CBF;
    font-size: 1.75rem;
    color: #595959;
    margin: 0 0 1rem 0;
    font-variant: small-caps ;
}

#brands-nav a:hover{
    color: #639CBF;

}

/* #car-shop{
    display: flex;
    flex-wrap: wrap;
} */

.item-desc{
    width: 70% !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left !important;
    background-color: rgba(210, 210, 210, 0.808);
    border: 1px solid darkgray;
    padding: 1rem;
}

.shopbrands{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    background-color: white;
    padding: 2rem;
    margin-bottom: 10rem;
    background-color: #f2f2f2ce;
    border-radius: 50px;
    border: 3px solid black;
}

#car-shop section div > div{
    width: 50%;
    margin: 2rem auto 4rem auto;
    text-align: center;
}

.brand-header{
    text-align: center;
    background-color: #639CBF;
    border-radius: 100px;
    margin-bottom: 1rem;
    width: 40%;
    margin: 1rem auto;
    border: 2px solid black;
    padding: .5rem;

}
.brand-header > img{
    height: 100px;
    width: 100px;
}

.to-top{
    position: fixed;
    bottom: -1px;
    left: 48.5%;
    background-color: white;
    width: 4rem;
    height: 2rem;
    margin: 0;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
}

.to-top a{
    text-decoration: none;
    color: black;
}

#car-shop{
    width: 100%;
    margin: 0;
}