#contact-form{
    width: 45%;
    margin: 4rem auto;
    padding: 2rem;
    background-color: #f2f2f2ce;
    border: 2px solid black;
    display: flex;
    flex-flow: column;
    border-radius: 25px;
}


#user-info{
    display: flex;
    background-color: #9bc9ff;
    flex-flow: row wrap;
}

.input-text, .input-selector, .filler{
    width: calc(50% - 1em);
    margin: .25em;
    padding: .25em;
    display: flex;
    min-width: 300px;
}

.input-text label, .input-selector label{
    width: 36%;
    margin-right: 1em;
}

.input-text input{
    width: 50%;
}

#selector-gender{
    width: 100%;
}

#selector-gender label{
    width: 18%;
}

#selector-brand label{
    width: 24%;
}



#user-message{
    padding: .5em;
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
}

textarea{
    width: calc(100% - 1em);
    padding: .5em;
}

#buttons{
    display: flex;
}

.button{
    height: 25px;
    width: 80px;
    margin: 1em 0;
}

#buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}