#contact-form{
    width: 45%;
    margin: 4rem auto;
    padding: 2rem;
    background-color: #f2f2f2ce;
    border: 2px solid black;
    display: flex;
    flex-flow: column;
}


#user-info{
    display: flex;
    background-color: lightblue;
}

.form-grouper-text{
    width: 60%;
    padding: 1em;
    background-color: lightgreen;
}

.form-grouper-text label, .form-grouper-text input{
    margin: 5px 0;
}

.form-grouper-text label{
    display: inline-block;
    width: 25%;
    text-align: left;
    align-items: flex-start;
}

.form-grouper-text input{
    width: 40%;
    height: 20px;
}

.form-grouper-selectors{
    width: 40%;
    padding: 1em;
    background-color: lightyellow;
}

.form-grouper-buttons{
    width: 100%;
    display: flex;
}

.form-grouper-buttons *{
    display: inline-block;
    height: 25px;
    width: 40%;
    margin: 0 auto;
}

.form-grouper-buttons *:hover{
    background-color: #b4e0fc;
    border: 1px solid #868686;
}

textarea{
    margin: 2rem 0;
    padding: 1em;
}

footer{
    position: fixed;
    bottom: 0;
}