#contact-form{
    width: 45%;
    margin: 4rem auto;
    padding: 2rem;
    background-color: #f2f2f2ce;
    border: 2px solid black;
    display: flex;
    flex-flow: column;
    border-radius: 25px;
}


#user-info{
    display: flex;
    background-color: #9bc9ff;
    flex-flow: row wrap;
}

.input-text, .input-selector{
    width: calc(50% - 1em);
    margin: .25em;
    padding: .25em;
    display: flex;
    min-width: 300px;
}

.input-text label, .input-selector label{
    width: 36%;
    margin-right: 1em;
}

.input-text input{
    width: 50%;
}

#selector-gender{
    width: 100%;
}

#selector-gender label{
    width: 18%;
}

#selector-brand label{
    width: 24%;
}



#user-message{
    padding: .5em;
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
}

textarea{
    width: calc(100% - 1em);
    padding: .5em;
}

#buttons{
    display: flex;
}

.button{
    height: 25px;
    width: 80px;
    margin: 1em 0;
}

#buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 /* tablet */

 @media only screen and (max-width : 1024px){
    #contact-form{
    width: 90%;
    }

    .input-text{
        width: 100%;
        height: 2em;
    }

    .input-text label, .input-selector label{
        margin-right: 0;
        width: 25%;
    }
    
    .input-text input{
        width: 100%;
    }
    
    #user-info{
        width: 80%;
    }
}

 /* telefoon */
 @media only screen and (max-width : 700px){
    fieldset{
        width: auto;
    }


        #contact-form{
            margin-bottom: 800px;
            padding: auto;
            position: relative;
            background-color: transparent;
            border: none;
        }

    fieldset{
        margin: 0;
        padding: 0;
        scale: 90%;
    }

    #user-info{
        position: absolute;
        left: 5%;
        top: 0;
    }

    #user-message{
        position: absolute;
        left: 0;
        top: 275px;
        background-color: #f2f2f2ce;
    }

    body{
        width: auto;
    }

 }