main{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: "info info" "comparison reviews";
    width: 80%;
    margin: 4rem auto;
    
}

main > *{
    margin: 0.5rem;
    padding: 1rem;
}

#info{
    margin-top: 2rem;
    grid-area: info;
    background-color: #f2f2f2ce;
    text-align: center;
}

#info p{
    font-size: 1.25em;
    width: 70%;
    margin: 0 auto;
}

#info h1{
    font-size: 1.75em;
    text-decoration: underline;
}

#comparison, #user-reviews{
    padding: 2rem;
}

#brands{
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

#brands img{
    height: 100px;
    width: 100px;
    padding: 1em;
}

#brands img:hover{
    scale: 125%;
}

#comparison{
    grid-area: comparison;
    background-color: #f2f2f2ce;
    height: max-content;
    width: 85%;
    justify-self: right;
}

#user-reviews{
    grid-area: reviews;
    background-color: #f2f2f2ce;
    height: max-content;
    width: 85%;
    justify-self: left;
}


#user-reviews > article{
    padding: 1rem;
    width: 75%;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    
}

#user-reviews > article{
    border-radius: 10px;
}

#user-reviews > article:nth-child(odd){
    background-color: #F2F2F2;
}

#user-reviews > article:nth-child(even){
    background-color: #89c0fe;
}


#user-reviews h2{
    margin: 0;
    padding: 0;
}

#reviews-img{
    margin: .25em;
    height: 50px;
    width: 50px;
}

.center{
    text-align: center;
}

.bigborder{
    border: 3px solid black;
    border-radius: 50px;
}