main{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: "info info" "comparison reviews";
    width: 80%;
    margin: 4rem auto;    
}

main > *{
    margin: 0.5rem;
    padding: 1rem;
}

#info{
    margin: 2rem auto 1rem auto;
    grid-area: info;
    background-color: #f2f2f2ce;
    text-align: center;
}

#info p{
    font-size: 1.25em;
    width: 70%;
    margin: 0 auto;
}

#info h1{
    font-size: 1.75em;
    text-decoration: underline;
}

#comparison, #user-reviews{
    padding: 2rem;
}

#brands{
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 4rem auto 2rem auto;
    column-gap: 3rem;
}

#brands a{
    margin: 0 auto;
    padding: 0;
    width: 6em;
}

#brands img{
    height: auto;
    width: 100%;
}

#brands img:hover{
    scale: 125%;
}

#comparison{
    grid-area: comparison;
    background-color: #f2f2f2ce;
    height: max-content;
    width: 85%;
}

#comparison section{
    margin-top: 2em;
}

#comparison section > *{
    margin-top: 0;
    margin-bottom: .5em;
}

#user-reviews{
    grid-area: reviews;
    background-color: #f2f2f2ce;
    height: max-content;
    width: 85%;
}


#user-reviews > article{
    padding: 1rem;
    width: 75%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;    
}

#user-reviews > article{
    border-radius: 10px;
}

#user-reviews > article:nth-child(odd){
    background-color: #F2F2F2;
}

#user-reviews > article:nth-child(even){
    background-color: #89c0fe;
}


#user-reviews h2, #comparison h2{
    margin: 0;
    padding: 0;
}

#reviews-img, #comparison-img{
    text-align: center;
    margin: .25em;
}

#reviews-img{
    height: 50px;
    width: 50px;
}

#comparison-img
{
    height: 40px;
    width: 40px;
}

#comparison > div > p{
    text-align: left;
}

.center{
    text-align: center;
}

.bigborder{
    border: 3px solid black;
    border-radius: 50px;
}

table#table-comparison{
    border: 1px solid gray;
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

#table-comparison > *{
    padding: 5px;
}

#table-comparison thead tr th{
    text-align: center;
    border: 1px solid gray;
    text-transform: uppercase;
}

#table-comparison tr th{
    border: 1px solid gray;
    text-align: left;
}

#table-comparison td{
    text-align: center;
    border-bottom: 1px solid gray;
}



@keyframes fade-in{
    from {
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

.animation-fade-in{
    animation: fade-in 2s ease-in-out;
}


 /* tablet */
 @media only screen and (min-width : 440px) and (max-width : 1024px){
    #brands{
        column-gap: 2rem;
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "info" "comparison" "reviews";
 }
}

 /* telefoon */
 @media only screen and (max-width : 700px){
    #brands{
        column-gap: 1rem;
    }

    main{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "info" "comparison" "reviews";
 }

    main article, footer{
        font-size: .8em;
    }

    main > *{
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0;
    }

    #info, #comparison, #user-reviews{
        width: auto;
    }
 }