body{
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("../images/bg.jpg");
    background-size: cover;
}

header{
    margin: 0;
    grid-area: header;
    display: flex;
    justify-content: center;
}

#logo{
    display: inline-block;
    justify-items: center;
    border-radius: 0 0 50px 50px;
    background-color: transparent;
}

nav{
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    column-gap: 1px;
}

nav ul li:not(:nth-child(3)){
    display: flex;
    list-style: none;
    width: 12rem; 
    height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: #3C3D37;
    padding: 0.25rem;
}

nav ul li:hover:not(:nth-child(3)){
    background-color: #5C7F8E;
    height: 5rem;
}

li:first-child{
    border-bottom-left-radius: 25px;
}

li:last-child{
    border-bottom-right-radius: 25px;
}

nav ul li a:not(:nth-child(3)){
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: "info info" "comparison reviews";

    margin: 5rem;
}

main > *{
    margin: 0.5rem;
    padding: 0.5rem;
}

#info{
    margin-top: 2rem;
    grid-area: info;
    background-color: blue;
}

#comparison{
    grid-area: comparison;
    background-color: red;
}

#user-reviews{
    grid-area: reviews;
    background-color: yellow;
}

#user-reviews > :nth-child(odd){
    background-color: green;
}

#user-reviews > :nth-child(even){
    background-color: orange;
}

footer{
    grid-area: footer;
    background-color: goldenrod;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p{
    /* margin: 0.25rem auto; */
    display: inline-block;
    width: 49%
}

footer p:first-child{
    font-size: 0.75rem;
}

footer p:last-child{
    font-weight: bold;
}
