@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');

*{
    font-family: "Nunito Sans", Arial, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll
}

main{
    width: 80%;
    margin: 4rem auto;
}

header{
    margin: 0;
    grid-area: header;
    display: flex;
    justify-content: center;
}

#logo{
    display: inline-block;
    justify-items: center;
    border-radius: 0 0 50px 50px;
    background-color: transparent;
}

header{
    width: 80%;
    margin: 0 auto;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    column-gap: 1px;
}

nav li::marker{
    color: transparent !important;
}

nav ul li:not(:nth-child(3)){
    display: flex;
    list-style: none;
    width: 12rem; 
    height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: #595959;
    padding: 0.25rem;
}

nav ul li:hover:not(:nth-child(3)){
    background-color: #5C7F8E !important; 
    height: 5rem !important;
    border: 0 !important;
}

nav li:first-child{
    border-bottom-left-radius: 25px;
}

nav li:last-child{
    border-bottom-right-radius: 25px;
}

nav ul li a:not(:nth-child(3)){
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer{
    grid-area: footer;
    background-color: #0D0D0D;
    width: calc(100%-1rem);
    text-align: center;
    padding: .5rem;
}

footer p{
    display: inline-block;
    width: 50%;
    color: white;
    margin: .25rem;
    padding: 0;
}

footer p:last-child{
    font-weight: bold;
}

.active{
    background-color: #639CBF !important;
    height: 4rem !important;    
}

#chat-button img{
    height: 50px;
    width: 50px;
    position: fixed;
    right: 0;
    bottom: 100px;
    background-color: rgba(223, 223, 223, 0.856);
    border-radius: 25px 0 0 25px;
    padding: .75em 2em .75em .75em ;
}

#chat-button img:hover{
    cursor: pointer;
    background-color: #639CBF;
}




 /* tablet */

 @media only screen and (max-width : 1024px){

    nav{
        width: 80%;
    }
    nav ul li:not(:nth-child(3)){
        width: 150px;
        height: 6rem;
        text-align: center;
        border-radius: 0 0 50px 50px;
    }

    nav ul li::nth-child(3){

    }

    #logo{
        border-radius: 0 0 50px 50px;
    }

    nav ul li a:not(:nth-child(3)){
        display: flex;
        text-decoration: none;
        font-size: 1rem;
        color: white;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .active{
        background-color: #639CBF !important;
        height: 6rem !important;    
        width: 30px;
    }

    nav ul li:hover:not(:nth-child(3)){
        height: 7rem !important;
        border: 0 !important;
    }
        
}

 /* telefoon */
 @media only screen and (max-width : 700px){
    nav{
        width: 100%;
        margin: 0 auto;
    }

    header{
        width: 90%;
    }

    .active{
        height: 7rem !important;    
    }

    #chat-button img{
        height: 25px;
        width: 25px;
        position: fixed;
        left: 0;
        bottom: 50px;
        background-color: rgba(223, 223, 223, 0.856);
        border-radius: 0 25px 25px 0px;
        padding: .75em;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
        row-gap: -5px;
    }

    nav ul li:not(:nth-child(3)){
        border-radius: 0;
        height: 25px;
        margin: 1px;
        width: 80%;
    }

    .active{
        height: 25px !important;
    }

    nav ul li:nth-child(4){
        margin-top: -20px;
    }

    #logo{
        position: absolute;
        top: 150px;
        left: 45%;
        height: auto;
        width: 10%;
        border-radius: 25px;
    }    

    nav ul li:hover:not(:nth-child(3)){
        background-color: #5C7F8E !important; 
        height: 25px !important;
        border: 0 !important;
    }
 }

 @media only screen and (max-width : 440px){

    #logo{
        width: 15%;
    }
 }