/* COLOR PALLETTE
    #639CBF     LIGHT BLUE
    #3D6373     DARKER BLUE
    #F2F2F2     WHITE
    #595959     DARK GREY
    #0D0D0D     BLACK
*/





body{
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("../images/bg.jpg");
    background-size: cover;
}

header{
    margin: 0;
    grid-area: header;
    display: flex;
    justify-content: center;
}

#logo{
    display: inline-block;
    justify-items: center;
    border-radius: 0 0 50px 50px;
    background-color: transparent;
}

nav{
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    column-gap: 1px;
}

li::marker{
    color: transparent !important;
}

nav ul li:not(:nth-child(3)){
    display: flex;
    list-style: none;
    width: 12rem; 
    height: 4rem;
    justify-content: center;
    align-items: center;
    /* background-color: #3C3D37; */
    background-color: #595959;
    padding: 0.25rem;
}

nav ul li:hover:not(:nth-child(3)){
    background-color: #5C7F8E;
    height: 5rem;
}

nav li:first-child{
    border-bottom-left-radius: 25px;
}

nav li:last-child{
    border-bottom-right-radius: 25px;
}

nav ul li a:not(:nth-child(3)){
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: "info info" "comparison reviews";

    margin: 5rem;
}

main > *{
    margin: 0.5rem;
    padding: 0.5rem;
}

#info{
    margin-top: 2rem;
    grid-area: info;
    /* background-color: rgba(211, 211, 211, .9); */
    background-color: #f2f2f2ce;
    text-align: center;
}

#comparison, #user-reviews{
    padding: 2rem;
}

#brands{
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    column-gap: 5rem;
}

#brands img{
    height: 100px;
    width: 100px;
}

#comparison{
    grid-area: comparison;
    background-color: #f2f2f2ce;
    height: max-content;
    width: 85%;
    justify-self: right;
}

#user-reviews{
    grid-area: reviews;
    background-color: #f2f2f2ce;
    height: max-content;
    width: 85%;
    justify-self: left;
}


#user-reviews > article{
    padding: 1rem;
    width: 75%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    
}

#user-reviews > article{
    border-radius: 10px;
}

#user-reviews > article:nth-child(odd){
    background-color: #F2F2F2;
}

#user-reviews > article:nth-child(even){
    background-color: #89c0fece;
}


#user-reviews h2{
    margin: 0;
    padding: 0;
}

#reviews-img{
    margin: .25em;
    height: 50px;
    width: 50px;
}

footer{
    grid-area: footer;
    background-color: #0D0D0D;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: .5rem;
}

footer p{
    display: inline-block;
    width: 50%;
    color: white;
    margin: .25rem;
    padding: 0;
}

footer p:last-child{
    font-weight: bold;
}

.center{
    text-align: center;
}

.bigborder{
    border: 3px solid black;
    border-radius: 50px;
}