/* COLOR PALLETTE
    #639CBF     LIGHT BLUE
    #3D6373     DARKER BLUE
    #F2F2F2     WHITE
    #595959     DARK GREY
    #0D0D0D     BLACK
*/
/* html{
    margin: 0;
    padding: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');



*{
    font-family: "Nunito Sans", Arial, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


main{
    width: 80%;
    margin: 4rem auto;
}

header{
    margin: 0;
    grid-area: header;
    display: flex;
    justify-content: center;
}

#logo{
    display: inline-block;
    justify-items: center;
    border-radius: 0 0 50px 50px;
    background-color: transparent;
}

header{
    width: 80%;
    margin: 0 auto;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    column-gap: 1px;
}

nav li::marker{
    color: transparent !important;
}

nav ul li:not(:nth-child(3)){
    display: flex;
    list-style: none;
    width: 12rem; 
    height: 4rem;
    justify-content: center;
    align-items: center;
    /* background-color: #3C3D37; */
    background-color: #595959;
    padding: 0.25rem;
}

nav ul li:hover:not(:nth-child(3)){
    background-color: #5C7F8E !important; 
    height: 5rem !important;
    border: 0 !important;
}

nav li:first-child{
    border-bottom-left-radius: 25px;
}

nav li:last-child{
    border-bottom-right-radius: 25px;
}

nav ul li a:not(:nth-child(3)){
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}




footer{
    grid-area: footer;
    background-color: #0D0D0D;
    width: calc(100%-1rem);
    text-align: center;
    padding: .5rem;
}

footer p{
    display: inline-block;
    width: 50%;
    color: white;
    margin: .25rem;
    padding: 0;
}

footer p:last-child{
    font-weight: bold;
}

.active{
    background-color: #639CBF !important;
    height: 4rem !important;    
}


 /* tablet */

 @media only screen and (max-width : 1024px){

    nav{
        width: 80%;
    }
    nav ul li:not(:nth-child(3)){
        width: 150px;
        height: 6rem;
        text-align: center;
        border-radius: 0 0 50px 50px;
    }

    nav ul li::nth-child(3){

    }

    #logo{
        border-radius: 0 0 50px 50px;
    }

    nav ul li a:not(:nth-child(3)){
        display: flex;
        text-decoration: none;
        font-size: 1rem;
        color: white;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    nav ul{
    }

    .active{
        background-color: #639CBF !important;
        height: 6rem !important;    
        width: 30px;
    }

    nav ul li:hover:not(:nth-child(3)){
        height: 7rem !important;
        border: 0 !important;
    }
        
}

 /* telefoon */
 @media only screen and (max-width : 440px){
    nav{
        width: 100%;
    }

    header{
        width: 90%;
    }
    nav ul li:not(:nth-child(3)){
        width: 12rem;
        height: 7rem;
    }

    .active{
        height: 7rem !important;    
    }
 }